@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 4% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 4%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-bottom: 1px solid black;
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}
.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}

/* .btn{
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
} */

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}




/* CARDS AND SECTIONS */


#edtech {
    padding-top: 1rem;
  }

.top-per {
    margin-top: 3rem;
  }

.section-heading {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    transition: 0.4s;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(25% - 2rem);
    height: 35rem;
    background-color: #fff;
    overflow: hidden;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
    transition: 0.4s;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1.5px solid black;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
  
  .card h3 {
    font-size: 1.8rem;
    color: black;
    margin-top: 1.5rem;
  }



  .card p {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #666;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    /* height:100%; */
  }

  .card:hover{
    transform: scale(0.9, 0.9);
  }



  i{
    color: black;
  }
  











/* MEDIA QUERY */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }

  .services {
    padding-bottom: 7rem;
  }
  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-img img {
    width: 50vw;
    margin-top: 4rem;
  }
  .about {
    flex-direction: column-reverse;
  }
  .about img {
    width: 70vw;
    margin-top: 4rem;
  }

  .services h2 {
    margin-bottom: 3rem;
  }
}





/* button */
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  /* color: var(--second-bg-color); */
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin-left: 4rem;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
  cursor: pointer;
}

.btn2 {
  display: inline-block;
  padding: 0.9rem 1rem;
  background: var(--bg-color);
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.2rem;
  margin-left: 1rem;
  color: var(--text-color);
  letter-spacing: 0.12rem;
  /* font-weight: 600; */
  transition: 0.5s ease;
}

.btn2:hover {
  /* box-shadow: 0rem 0rem 1rem black;
  background: var(--main-color);
  color: var(--bg-color); */
  cursor: pointer;
}

<<<<<<< HEAD
=======




















/* LAST 3 CARDS */



.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.newc {
  margin: 30px auto;
  margin-left: 3%;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.newc .card_image {
  width: inherit;
  height: inherit;
  border-radius: 15px;
}

.newc .card_image img {
  width: 100%;
  height: 75%;
  border-radius: 15px 15px 0px 0px ;
  object-fit: cover;
}

.newc .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-size: 15px;
  margin-top: -80px;
}

.newc:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}


.newcbtn {
  padding: 0.9rem 3rem;
  background: var(--bg-color);
  border-radius: 10px;
  font-size: 1.2rem;
  color: var(--text-color);
  letter-spacing: 0.12rem;
  margin-top: 40px;
  transition: 0.5s ease;
}

.newcbtn:hover {
  cursor: pointer;
  box-shadow: 0 0 1rem var(--main-color);
}


@media all and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
}

>>>>>>> cd0741594f475f7a4514bb361eb47a2a63ca2e23
