@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Playfair+Display:wght@700&display=swap");

* {
  /* margin: 6px; */
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}



section {
  /* min-height: 60vh; */
  padding: 6.5rem 9%;
  border-radius: 1rem;
}

span {
  color: #0ef;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.contact {
  background: #323946;
}
.contact h3 {
  font-size: 1.8rem;
  color: aliceblue;
}
.info {
  font-size: 1.8rem;
  color: aliceblue;
  /* margin-left: 10.6rem; */
}
.contact {
  background: var(--second-bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
}
.contact form {
  /* max-width: 70rem; */
  text-align: center;
  /* margin-bottom: 3rem; */
}
.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  /* width: 100%; */
  padding: 1rem 9.5rem;
  /* padding-top: 1rem; */
  font-size: 1.6rem;
  color: var(--text-color);

  background: var(--bg-color);
  border-radius: 0.8rem;
  /* margin: 1.7rem; */
  /* margin: auto; */
  margin: auto auto;
}

.contact form .input-box input {
  width: 40%;
}

.input-box{
  /* text-align: center; */
  /* justify-content: center; */
  margin-left: auto;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}